[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/bitmap"]
	path = vendor/bitmap
	url = https://github.com/ArashPartow/bitmap.git
